# List of Required Python Libraries
import contextily as cx
import csv
import datetime
import geopandas as gpd
import math
from matplotlib.patches import Ellipse
import matplotlib.pyplot as plt
import matplotlib.tri as mtri
import numpy as np
import os
import pandas as pd
from rocketpy import Environment, Flight, SolidMotor, Rocket, prints
import shutil
from skimage.measure import EllipseModel
from skspatial.objects import Line, Point
import stat
import sys